$color-primary: #ffffff;
$color-secondary: #392980;
$bg-color-01: #000000;
$bg-color-02: #363636;
$nav-color-01: rgba(0,0,0,1);
$nav-color-02: rgba(0,0,0,.5);
$carousel-bg-color-01: rgba(0,0,0,.8);
$carousel-bg-color-02: rgba(0,0,0,.4);

$color-text: white;
$color-hyperlink: white;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
    background: linear-gradient(to bottom, $bg-color-01, $bg-color-02);
    color: $color-text
    
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

h5 {
    color: $color-text;
}
.navbar {
    background: linear-gradient(to bottom, $nav-color-01, $nav-color-02);
    color: $color-text;
    font-size: small;
}

a {
    text-decoration: none;
    color: $color-hyperlink;
    :hover{
        color: $color-secondary;
    }
}
.shop-font{
    font-family: $header-font;
}
.card {
    background: linear-gradient(to bottom, $bg-color-01, $bg-color-02);
}
.carousel-caption {
    background: linear-gradient(to bottom, $carousel-bg-color-01, $carousel-bg-color-02);
    color:white;
    
}

.container-like-ratio img {

    width: 100%;
    height: 70vh;
    object-fit: contain;

}